.progress-bar-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 8px solid #E0ADB1;
    border-top-color: white;
    border-radius: 50%;
    transform: rotate(108deg); /* Adjust this rotation to reflect the percentage */
    transform-origin: 50% 50%;
  }
  
  /* Hide the excess of the overlay */
  .progress-bar-container {
    overflow: hidden;
  }