@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import "react-big-calendar/lib/css/react-big-calendar.css";
@import "react-big-calendar/lib/addons/dragAndDrop/styles";
@tailwind base;
@tailwind components;
@tailwind utilities;

.blur {
  filter: blur(5px);
}

/* .custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #bdbdbd #f5f5f5;
} */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 4px;
  border: 1px solid #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.custom-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rbc-allday-cell {
  display: none !important;
}

.rbc-time-view {
  /* border: none !important; */
  height: 100% !important;
  overflow: hidden !important;
}

.rbc-calendar {
  height: 80vh !important;
}

.rbc-time-content {
  height: 80vh !important;

}

.rbc-event {
  display: flex !important;
  justify-content: "center" !important;
  flex: 1 !important;
  /* min-height: 100px !important; */
  /* height: 50px !important; */
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}

.rbc-event .rbc-event-label {
  display: none !important;
}


.rbc-time-slot {
  height: 20px !important;
  width: 20px !important;
}

.rbc-time-gutter {
  display: none !important;
}

.rbc-time-header-cell {
  display: flex !important;
  height: 90px !important;
}

.rbc-header {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-bottom: none !important;
}

.rbc-time-header-gutter {
  width: 110px !important;
}

.rbc-events-container {
  margin: 0 !important;
}


.rbc-time-slot {
  border: none !important;
  width: 50px !important;
  height: 50px !important;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* timeslot box height check */
.rbc-timeslot-group {
  /* min-height: 100px !important; */
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.register-scrollbar {
  /* width: 100%; */
  padding: 0 5px;
}

.register-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.register-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.register-scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid #f3f3f3;
  border-top: 10px solid #A41D30;
  border-radius: 100%;
  position: relative;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(0.5);
  }

  50% {
    transform: rotate(180deg) scale(0.5);
  }

  100% {
    transform: rotate(360deg) scale(0.5);
  }
}

.loader-small {
  width: 40px;
  height: 40px;
  border: 2px solid #f3f3f3;
  border-top: 5px solid #A41D30;
  border-radius: 100%;
  position: relative;

  animation: spin-small 2s linear infinite;
}

@keyframes spin-small {
  0% {
    transform: rotate(0deg) scale(0.5);
  }

  50% {
    transform: rotate(180deg) scale(0.5);
  }

  100% {
    transform: rotate(360deg) scale(0.5);
  }
}


/* add animation of bellicon */

/* Animation for the bell icon shake */
@keyframes bellShake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-6px); /* Move left */
  }
  50% {
    transform: translateX(6px);  /* Move right */
  }
  75% {
    transform: translateX(-6px); /* Move left */
  }
  100% {
    transform: translateX(0); /* Reset to original position */
  }
}

/* Apply the animation to the bell icon */
.animate-bellShake {
  animation: bellShake 1s ease-in-out infinite;
}
