name: TCS Frontend Deployment

on:
  push:
    branches:
      - release/tcs
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: docker build --no-cache -t timetechnologiesllc/tcafrontend_prod .

      - name: Publish this image to Docker Hub
        run: docker push timetechnologiesllc/tcafrontend_prod:latest

  deploy:
    needs: build
    runs-on: tcs-ravi
    steps:
      - name: Docker deploy frontend
        run: |
          CERT_PATH="/etc/letsencrypt/live/tcsravi.educativecloud.com/fullchain.pem"
          KEY_PATH="/etc/letsencrypt/live/tcsravi.educativecloud.com/privkey.pem"

          sudo docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

          # Remove old container
          sudo docker rm -f tcs-frontend-container || true
          sudo docker system prune -a -f

          # Run frontend container (443 and 80 exposed from WSL2)
          sudo docker run -d -p 80:80 -p 443:443 --name tcs-frontend-container \
            -v $CERT_PATH:/etc/letsencrypt/live/tcsravi.educativecloud.com/fullchain.pem:ro \
            -v $KEY_PATH:/etc/letsencrypt/live/tcsravi.educativecloud.com/privkey.pem:ro \
            -e VITE_BACKEND_URL='${{ secrets.BACKEND_BASE_URL }}' \
            timetechnologiesllc/tcafrontend_prod:latest
